#gui-canvas{
    width: 100em;
    height: 70vh;
    /* background-color: black; */
    margin: 0 auto;
    position: absolute;
}

#win-canvas {
    width:60em;
    height: 50vh;
    margin: 0 auto;
    position: absolute;
    top: 10vh;
}


#menu-canvas {
    width: 100em;
    height: 70vh;
    background-color: black;
    margin: 0 auto;
    position: absolute;

}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

#screen-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    /* grid-template-rows: 50px 1fr; */
    position: relative;
    text-align: center;    
}

#gameCanvases {
    position: absolute;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;

}

#gameplayMenu {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    position: relative;
    z-index: 10;

   
}



.start-ReturnMenu, .current-Player{
    color: white;
    width: 130px;
    height: 60px;
    margin: 1% auto;
    /* padding: 25px; */
    text-align: center;
    /* position: absolute; */


    
}

.start-ReturnMenu {
    border: 1px solid black;
    cursor: pointer;
}

#gameplay-canvas, #explosion-canvas {

    width: 100em;
    height: 70vh;
    
    /* background-color: rgba(255, 255, 255,0); */
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    /* top: 0;
    left: 0; */
}

#gameplay-canvas {
    position: relative;
    background-color: lightblue;
}



.negOneZ {
    z-index: -1;
}

.posOneZ {
    z-index: 1;
}

.posTwoZ {
    z-index: 2;
}
